"*":
  _dartlang:
    _firstRun: true
    _version: "0.7.1"
  "atom-itunes":
    itunesRefreshInterval: 1000
    showNotes: true
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  "atom-spotify2":
    showEqualizer: true
  "atom-toolbar":
    visible: false
  "autocomplete-plus":
    autoActivationDelay: 500
    consumeSuffix: false
    defaultProvider: "Symbol"
    maxVisibleSuggestions: 100
    suggestionListFollows: "Cursor"
  "autocomplete-python":
    caseInsensitiveCompletion: false
    extraPaths: "/usr/local/Cellar/python@2/2.7.14_3/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages"
    outputDebug: true
    pythonPaths: "/usr/local/bin/python"
    showTooltips: true
    useKite: false
    useSnippets: "all"
  "autohide-tree-view":
    pushEditor: true
    showPinButton: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
      "symbols-view"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  dartlang:
    sdkLocation: "/usr/local/opt/dart/libexec"
    sendUsage: false
  editor:
    atomicSoftTabs: false
    fontFamily: "Andale Mono"
    fontSize: 13
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "84597031-1968-4be8-b75c-742e4c300697"
  kite:
    editorMetricsEnabled: "no"
    showWelcomeNotificationOnStartup: false
  minimap:
    adjustAbsoluteModeHeight: true
  "one-dark-ui": {}
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
".psci.purescript.source":
  editor:
    tabLength: 2
".purescript.source":
  editor:
    tabLength: 2
