"*":
  _dartlang:
    _firstRun: true
    _version: "0.7.1"
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  "atom-toolbar":
    visible: false
  "autocomplete-plus":
    autoActivationDelay: 500
  "autohide-tree-view":
    pushEditor: true
    showPinButton: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
    ]
    followSymlinks: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  dartlang:
    sdkLocation: "/usr/local/opt/dart/libexec"
    sendUsage: false
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "84597031-1968-4be8-b75c-742e4c300697"
  "one-dark-ui": {}
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
".psci.purescript.source":
  editor:
    tabLength: 2
".purescript.source":
  editor:
    tabLength: 2
